body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  margin: 10px 30px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
/* Containers */
.top-container {
  background-color: #E4F9F5;
  position: relative;
  margin-top: 0;
  /* padding-top: 100px; */
}

.middle-container {
  /* background-color: #E4F9F5; */
  margin: 100px 0 ;
}
.intro{
  line-height: 1.5;
  margin: auto;
  width: 40%;
}
.profile{
  width: 66%;
  margin: 100px auto 100px auto;
}
.skills{
  width: 66%;
  margin: 100px auto 100px auto;
}
.skill-row{
  width: 66%;
  margin: 100px auto 100px auto;
  /* text-align: left; */
  line-height: 1.5;
}
.contact{
  width: 40%;
  margin: 40px auto 60px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 40px;
}
.copyright{
  padding: 15px 0;
  color: #EAF6F6;
  font-size: 0.75rem;
}



/* Headings */
h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  /* for fonts: 16px = 100% = 1em*/
  /* margin-top: 50px;
  margin-bottom: 0; */
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}


/* Images */
.topcloud {
  height: 200px;
  position: absolute;
  right: 250px;
  top: 25px;
}

.bottomcloud {
  height: 200px;
  position: absolute;
  left: 200px;
  bottom: 475px;
}

.imgm {
  height: 623px;
}

/* Horizontal Lines */
hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  margin: 70px auto;
  width: 7%;
}
